body{
  background:#1f242d;
  border-radius:10px;
  border:20px;

  margin:0px;
  text-decoration:none;
  padding:30px;
  padding-top:0px;
}
.navbar{

  display:flex;
  gap:170px;
  padding-right:12px;
  padding-top:31px;
  font-weight:300;
  transition:.5s;
}

.navbar a:hover{
  color:green;
}
a {
  color:white;
  text-decoration: none;
  font-weight:900;

}
header{
  display:flex;
  justify-content:space-between;
}
.home{
  display:flex;
  justify-content: space-between;
  gap:17px;
}
.location1{
  color:green;

}
.logos a img{
  justify-items:space-between;
  transition:.5s;
}
.linke img{
  height:30px;

}
.insta img{
  height:30px;
}
.logos a{
  display:inline-flex;
  padding:5px;

  border:3px solid green;
  border-radius:50%;
  color:green;
  margin:0 4px 0 4px;

}

.image{
  height:30vw;
  width:30vw;

  border-radius:50%;
  position:relative;
  overflow:hidden;
  border: 4px solid #1f242d;
  border-radius:50%;
}


.atharav{
  position:absolute;
}

h1{
  padding-right:13px;
}


